
.hi89{
    width: 65% !important;
    justify-content: center;
    align-items: center;
    margin-left: 17.3%;
    padding-left: 20px;
    margin-top: 5rem;
}
.input35{
    width: 9rem !important;
    overflow: hidden;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow:0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
    margin-bottom: 10px !important;
    margin-left: 10px;
}
.input35:hover{
    color: blue !important;
}
.input36{
    width: 7rem !important;
    margin: 1rem;
    overflow: hidden;
}
.hi89 h2{
    font-size: 20px;
    font-weight: 600;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
}
.input37{
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
}
.input38{
    font-size: 15px !important;
    font-weight: 600 !important;
}