.cmt1{
    width: 280px !important;
    height: 250px !important;
    padding: 15px !important;
    overflow: hidden !important;
    box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
    margin-bottom: 10px !important;
    margin-left: 20px;
}
.cmt2{
    width: 60px !important;
    height: 60px;
    border-radius: 35px !important;
    object-fit: cover;
    margin: 0;
}
.cmt3{
    display: flex;
    margin: 0;
}
.cmt4{
    margin-top: 1px !important;
    margin-left: 8px;
    line-height: 18px;
}
.cmt5{
    font-size: 14px !important;
    font-weight: 700 !important;
    color: black;
    margin: 0 0 3px 0 !important;
}
.cmt6{
    font-size: 11px;
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
}
.cmt7{
    font-size: 11px;
    margin: 0 !important;
    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif !important;
}
.cmt8{
    font-size: 14px !important;
    font-weight: 400;
    text-align: left;
    height: 110px;
    overflow:hidden;
    margin-bottom: 1px;
}
.cmt9{
    font-size: 11px !important;
    font-family:  RlFreight, HoeflerText-Black, Times New Roman, serif;
}
.cmt10{
    width: 62% !important;
    margin-top: 2.8rem;
    margin-left: 20%;
}
.cmt10 h2{
    font-size: 18px;
    font-weight: 750;
    /* letter-spacing: -0.2px; */
    line-height: 28px;
    margin-bottom: 20px;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    margin-left: 20px;
}
.slick-arrow{
    /* padding-bottom: 1rem; */
} 