

.Menu1{
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(18 18 20 / 5%) 0px 0px 2px, rgb(18 18 20 / 15%) 0px 4px 8px;
    padding: 8px 8px 0 8px;
    position: absolute;
    top: 120px;
    right: 10px;
    z-index: 1000;
    min-width: 330px;
    height: 480PX;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: 10s;
}
ul{
    list-style-type: none;
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 0 !important;
    margin: 0 !important;
}
li{
    font-size: 18px;
    font-weight: 400;
    display: list-item;
    text-align: -webkit-match-parent;
    cursor: pointer;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    white-space: nowrap;
    background: none;
    border: none;
    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    padding: 10px 10px;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #414143;
    margin: 0;
}
svg{
    position: relative;
    margin-right: 7px;
}
.SdCards{
    width: 240px !important;
    height: 200px !important;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.Icard{
    width: 100%;
    height: 100%;
}
.Icard img{
    /* background-size: cover; */
    width: 250px !important;
    height: 220px !important;
    object-fit:cover;
    border-radius: 10px 10px 0 0;
}
.set1{
    width: 11rem;
    height: 12rem !important;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
    color: #231F20;
}
.card-text{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
/* .hi{
    width: 65% !important;
    margin-top: 5rem;
    margin-left: 18rem;
    height: 250px;

} */
.hi h2{
    margin-bottom: 1.8rem;
    font-size: 20px;
    font-weight: 800;
    margin-left: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hi1{
    width: 14rem !important;
    margin-left: 7px !important;
    background: rgba(255, 255, 255, 0);
    margin-bottom: 5rem;
    height: 115px;
    padding-left: 8px;
}

.slick-arrow{
    font-size: 90px !important;
    position: absolute;
    text-align: center;
}
.slick-prev::before{
    font-size: 50px !important;
    color: #414143;
    position:relative;
    float: right;
    margin-left: 20rem !important;
}
.slick-next::before{
    font-size: 50px !important;
    color: #414143;
    position: relative !important;
}
.hi129{
    margin-top: 15px !important;
}

@media only screen and (max-width:400px) {
    .hi{
        width: 100%;
        margin-left: 7px !important;
        background: rgba(255, 255, 255, 0);
        /* background-color: #231F20; */
        margin-bottom: 5rem;
        height: 24rem;
        align-items: center;
        padding: 0 9%;
    }
    .hi h2{
        margin-bottom: 1.3rem;
        font-size: 20px;
        font-weight: 800;
        margin-left: 18px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .hi1{
        width: 14rem !important;
        margin-left: 7px !important;
        background: rgba(255, 255, 255, 0);
        margin-bottom: 5rem;
        height: 210px;
        padding-left: 8px;
    }
    .set1{
        width: 17rem;
        height: 18rem !important;
        overflow: hidden;
        border-radius: 12px !important;
        box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
        color: #231F20;
    }
    .card-text{
        font-size: 25px !important;
        font-weight: 800;
        text-transform: capitalize;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
    }
    .slick-prev::before{
        display: none;
    }
    .slick-next::before{
        display: none;
    }   
    
}
@media (max-width:600px) {

}